<!-- Thumbnail -->
<section id="thumbnails">
  <article>
    <%= link_to(image_tag("thumbs/01.jpg", alt: ""), image_path("fulls/01.jpg"), class: "thumbnail")%>
    <h2>Diam tempus accumsan</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
  </article>
</section>
